<div class="container">
  <div class="row">
      <div class="col-sm-4">
        <h3> <%= link_to " Назад", root_path, class: "fa fa-share", style: 'text-decoration:none' %> </h3>

        <h2>Зарегистрировать пользователя</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>

            <%= f.label :username, "Пользователь" %>
            <%= f.text_field :username, autofocus: true, class: "form-control" %>


            <%= f.label :password, "Пароль" %>
            <% if @minimum_password_length %>
            <em>(минимум <%= @minimum_password_length %> символов)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>


          <div class="actions">
            <%= f.submit "Зарегистрировать", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
