<% if @call.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <strong>Ошибки</strong>
    <ul>
      <% @call.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [:admin, @call], html: {class: "form-group"}  do |f| %>

  <%= f.label :boiler, "Котел" %>
  <%= f.collection_select :boiler, Boiler.order(:name), :name , :name, { include_blank: true }, class: "form-control" %>

  <%= f.label :username, "Имя" %>
  <%= f.text_field :username, class: "form-control" %>

  <%= f.label :adress, "Адрес" %>
  <%= f.text_field :adress, class: "form-control", onFocus: "geolocate()" %>

  <%= f.label :phone, "Телефон" %>
  <%= f.text_field :phone, class: "form-control" %>

  <%= f.label :call_date, "Дата" %>
  <%= f.text_field :call_date, class: "form-control" %>

  <%= f.label :master, "Мастер" %>
  <%= f.collection_select :master, Master.order(:name), :name , :name, { include_blank: true }, class: "form-control" %>

  <%= f.label :error, "Неисправность" %>
  <%= f.text_field :error, class: "form-control" %>

  <%= f.label :guarantee, "Гарантийный" %>
  <%= f.select :guarantee, [['Да', 'Да'],['Нет', 'Нет']], { include_blank: true }, class: "form-control" %>

  <br /><%= f.submit @call.new_record? ? 'Создать' : 'Сохранить', class: "btn btn-primary"%>

<% end %>
<script>
$(function() {
  $("#call_phone").mask("+7(000)000-00-00", {
    placeholder: "+7(___)___-__-__",
    clearIfNotMatch: true
  });

  $('#call_call_date').datepicker({
    format: "dd.mm.yyyy",
    todayBtn: "linked",
    language: "ru"
  });
});

function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('call_adress')),
      {types: ['geocode']});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP-L2RSMado3N_tgp20D7pn9OqJf2WeSs&libraries=places&callback=initAutocomplete" async defer></script>
