<div class="container">
  <div class="row">
      <div class="col-sm-6">
      <h3>Добавить котел</h3>

      <%= form_for :model, url: admin_models_path, html: {class: "form-group"}  do |f| %>

            <%= f.label :kotel, "Котел" %>
            <%= f.text_field :kotel, class: "form-control" %>

            <br /><%= f.submit "Добавить", class: "btn btn-primary" %>
      <% end %>
<% if @models.size > 0 %>

      <table class="table toble-responsive">
      <thead>
        <th>Существующие модели котлов</th>
        <th></th>
      </thead>
      <tbody>
      <% @models.each do |model| %>
      <tr>
          <td><%= model.kotel %></td>
          <td><%= link_to '', admin_model_path(model), method: :delete, class: "fa fa-trash", data: { confirm: "Вы уверены что хотите удалить котел #{model.kotel}?"}, style: 'text-decoration:none' %></td>
      </tr>
      </tbody>
      <% end %>
      </table>

<% end %>
  </div>
</div>
