<tr>
  <td>
    <div id="master_title_<%= master.id %>">
      <%= master.name %>
    </div>
    <%= form_for [:admin, master], html: { class: "col s12 hidden" }, remote: true do |f| %>
      <div class="row">
        <div class="input-field input-group col s6">
          <%= f.label :name, "Мастер" %>
          <%= f.text_field :name %>
          <span class="suffix">
            <%= f.button class: "btn btn-floating waves-effect waves-light green" do %>
              <i class="material-icons">done</i>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </td>

  <td class="right">
    <%= link_to admin_master_path(master), method: :delete, data: { confirm: "Вы уверены что хотите удалить котел #{master.name}?"}, remote: true do %>
      <i class="material-icons">delete</i>
    <% end %>
  </td>

  <td class="right">
    <%= link_to '', class: 'edit_master', data: { master_id: master.id } do %>
      <i class="material-icons">edit</i>
    <% end %>
  </td>
</tr>

