<div class="container">
  <div class="row">
    <div class="col-sm-6"><br>
    <h3>Запись вызова</h3>

    <%= form_for :call, url: admin_orders_path, html: {class: "form-group"}  do |f| %>
    <input type="hidden" name="call[success]" value="no" />
    <input type="hidden" name="call[currentuser]" value="<%= current_user.username %>" />

          <%= f.label :kotel, "Котел" %>
          <%= f.collection_select :kotel, Model.order(:kotel), :kotel , :kotel, { include_blank: true }, class: "form-control" %>

          <%= f.label :username, "Имя" %>
          <%= f.text_field :username, class: "form-control" %>

          <%= f.label :adress, "Адрес" %>
          <%= f.text_field :adress, class: "form-control" %>

          <%= f.label :phone, "Телефон" %>
          <%= f.text_field :phone, class: "form-control" %>

          <%= f.label :date, "Дата звонка клиента" %>
          <%= f.text_field :date, class: "form-control" %>

          <%= f.label :master, "Мастер" %>
          <%= f.collection_select :master, Masster.order(:name), :name , :name, { include_blank: true }, class: "form-control" %>

          <%= f.label :error, "Неисправность" %>
          <%= f.text_field :error, class: "form-control" %>

          <%= f.label :guarantee, "Гарантийный" %>
          <%= f.select :guarantee, [['Да', 'Да'],['Нет', 'Нет']], { include_blank: true }, class: "form-control" %>

          <br /><%= f.submit "Зарегистрировать", class: "btn btn-primary" %>
    <% end %>
      </div>
  </div>
</div>
<script>
$(function() {
  $("#call_phone").mask("+7(000)000-00-00", {
    placeholder: "+7(___)___-__-__",
    clearIfNotMatch: true
  });
});
  $(document).ready(function(){
    $('#call_date').datepicker({
    format: "dd.mm.yy",
    todayBtn: "linked",
    language: "ru"
  });
});
</script>
