<tr onclick="document.location = '<%= call_path(call) %>';" style='cursor: pointer;'>
    <td><%= call.id %></td>
    <td><%= call.call_date.strftime("%d.%m.%Y") %></td>
    <td><%= call.username %></a></td>
    <td><%= call.phone %></td>
    <td><%= call.adress %></td>
    <td><%= call.product_model&.name %></td>
    <td><%= call.error %></td>
    <td><%= call.master&.name %></td>
    <td><%= call.created_at.strftime("%d.%m.%Y %H:%M") %></td>
    <td><%= status_check(call.status) %></td>
    <td><%= call.guarantee ? 'Да' : 'Нет'  %></td>
</tr>
