<div class="row">
  <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="table-responsive">
        <table class="table table-hover calls">
          <thead>
            <tr>
              <th><%= sortable "id", "#" %></th>
              <th><%= sortable "call_date", "Дата звонка" %> <br>

                <%= form_tag calls_path, :method => 'get', id: 'form_call_date' do %>
                <%= hidden_field_tag :direction, params[:direction] %>
                <%= hidden_field_tag :sort, params[:sort] %>
                <%= hidden_field_tag :search, params[:search] %>
                <%= hidden_field_tag :created_at, params[:created_at] %>
                <%= text_field_tag :call_date, params[:call_date], class: "form-control form-control-sm col-sm-8", placeholder: "Установить период", style: "font-size:11px;" %>
                <% end %>

              </th>
              <th><%= sortable "username", "Имя" %></th>
              <th><%= sortable "phone", "Телефон" %></th>
              <th><%= sortable "adress", "Адрес" %></th>
              <th><%= sortable "boiler", "Котел" %></th>
              <th><%= sortable "error", "Неисправность" %></th>
              <th><%= sortable "master", "Мастер" %></th>
              <th><%= sortable "created_at", "Создание записи" %><br>

                <%= form_tag calls_path, :method => 'get', id: 'form_created_at' do %>
                <%= hidden_field_tag :direction, params[:direction] %>
                <%= hidden_field_tag :sort, params[:sort] %>
                <%= hidden_field_tag :search, params[:search] %>
                <%= hidden_field_tag :call_date, params[:call_date] %>
                <%= text_field_tag :created_at, params[:created_at], class: "form-control form-control-sm col-sm-8", placeholder: "Установить период", style: "font-size:11px;" %>
                <% end %>

              </th>
              <th><%= sortable "status", "Статус" %></th>
              <th><%= sortable "guarantee", "Г" %></th>
              <% if current_user.admin? %>
              <th></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @calls.each do |call| %>
              <tr>
                <td><%= call.id %></td>
                <td><%= call.call_date.strftime("%d.%m.%Y") %></td>
                <td><%= link_to call.username, call_path(call) %></a></td>
                <td><%= call.phone %></td>
                <td><%= call.adress %></td>
                <td><%= call.boiler %></td>
                <td><%= call.error %></td>
                <td><%= call.master %></td>
                <td><%= call.created_at.strftime("%d.%m.%Y %H:%M") %></td>
                <td><%= status_check(call.status) %></td>
                <td><%= call.guarantee ? 'Да' : 'Нет'  %></td>
                <% if current_user.admin? %>
                  <td><%= link_to '', admin_call_path(call), method: :delete, class: "fa fa-trash",data: { confirm: "Вы уверены что хотите удалить вызов #{call.username}?"}, style: 'text-decoration:none' %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="container">
          <%= will_paginate @calls, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>
        </div>
      </div>
    </div>
  <div class="col-sm-1"></div>
</div>
