<div class="container">
  <div class="row">

    <div class="col-sm-8">


    <%= form_tag calls_path, :method => 'get', :id => "qs_search", class: "form-inline" do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= hidden_field_tag :call_date, params[:call_date] %>
    <%= hidden_field_tag :created_at, params[:created_at] %>
    <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: "Поиск" %>
    <%= submit_tag "Найти",class: "btn btn-outline-success my-2 my-sm-0" , :name => nil %>
    <% end %><br>

    </div>



    <div class="col-sm-4">
    Общее число вызовов: <%= Call.all.size %><br>
    В процессе: <%= Call.where(:success => 'work').size %>

    </div>
  </div>
</div>
      <div id="calls"><%= render 'calls' %></div>
<!-- <script type="text/javascript">
$(function() {
  //СОРТИРОВКА и ПРОЛИСТЫВАНИЕ ТОВАРОВ ПО ЗАПРОСУ AJAX (Для работы расскоментировать)
  $("body").on('click', "#calls th a, #calls .pagination a", function() {
    $.getScript(this.href);
    return false;
  });

  //ПОИСК С ПОМОЩЬЮ ЗАПРОСА AJAX (Для работы расскоментировать)
  $("#qs_search input").keyup(function() {
    $.get($("#qs_search").attr("action"), $("#qs_search").serialize(), null, "script");
    return false;
  });
});
</script> -->



<script type="text/javascript">
  $(function() {
      $('input[name="call_date"], input[name="created_at"]').daterangepicker({
        'format': 'YYYY-MM-DD',
        'autoApply': true,
        'locale': {
            'fromLabel': 'От',
            'toLabel': 'До',
            'weekLabel': 'Н',
            'customRangeLabel': 'Задать даты',
            'firstDay': 1,
            'cancelLabel': 'Очистить',
            'applyLabel': 'Применить',
            'daysOfWeek': ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            'monthNames': ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
        },
        'language': 'ru'
      });


      $('input[name="call_date"]').on('apply.daterangepicker', function(ev, picker) {
        $('#form_call_date').submit()
      });
      $('input[name="call_date"]').on('cancel.daterangepicker', function(ev, picker) {
        $('#form_call_date #call_date').val('');
        $('#form_call_date').submit()
      });
      $('input[name="created_at"]').on('apply.daterangepicker', function(ev, picker) {
        $('#form_created_at').submit()
      });
      $('input[name="created_at"]').on('cancel.daterangepicker', function(ev, picker) {
        $('#form_created_at #created_at').val('');
        $('#form_created_at').submit()
      });
  });
</script>

