<div class="container">
  <div class="row">
      <h2>
        Вызов №<%= @called.id %>
        <% if current_user.admin? %>
          <%= link_to edit_admin_call_path(@called) do %>
            <i class="material-icons">edit</i>
          <% end %>
        <% end %>

      </h2>
      <table class="striped">
        <tr><th> Имя: <%= @called.username %></th></tr>
        <tr><th> Котел: <%= @called.product_model&.name %></th></tr>
        <tr><th> Телефон: <%= @called.phone %></th></tr>
        <tr><th> Адрес: <%= link_to @called.adress, "https://www.google.ru/maps/place/#{@called.adress}", target: '_blank'  %></th></tr>
        <tr><th> Неисправность: <%= @called.error %></th></tr>
        <tr><th> Дата звонка клиента: <%= @called.call_date.strftime("%d.%m.%Y") %></th></tr>
        <tr><th> Дата создание записи: <%= @called.created_at.strftime("%d.%m.%Y %H:%M") %></th>
        <tr><th> Мастер: <%= @called.master&.name %></th></tr>
        <tr><th>Гарантийный: <%= @called.guarantee  ? 'Да' : 'Нет' %></th></tr>

        <% if @called.guarantee? %>
          <tr><th>Серия: <%= @called.warranty ? (link_to @called.warranty.serial, warranty_path(@called.warranty)) : 'Гарантийный котел был удален из гарантийных' %></th></tr>
        <% end %>

        <tr><th> Регистратор вызова: <%= @called.user.username %></th></tr>
        <tr><th> Комментарий: <%= @called.comment %></th></tr>

        <tr><th>
          Статус:
          <%= link_to 'Ожидает', call_expect_admin_call_path(@called), class: 'waves-effect waves-light btn modal-trigger red', method: :put, disabled: @called.status == 'expect' %>
          <%= link_to 'В процессе', call_in_progress_admin_call_path(@called), class: 'waves-effect waves-light btn modal-trigger orange', method: :put, disabled: @called.status == 'in_progress'  %>
          <%= link_to 'Выполнен', '#modal_success', class: 'waves-effect waves-light btn modal-trigger green', disabled: @called.status == 'success'  %>
          <%= link_to 'Отменен', '#modal_canceled', class: 'waves-effect waves-light btn modal-trigger grey', disabled: @called.status == 'canceled'  %>
        </th></tr>
        <% if comment_status(@called) %>
          <tr><th> Комментарий к статусу: <%= comment_status(@called) %></th></tr>
        <% end %>
        <% if current_user.admin? %>
          <tr><th class="right"><%= link_to admin_call_path(@called), method: :delete, data: { confirm: "Вы уверены что хотите удалить вызов #{@called.username}?"} do %><i class="material-icons">delete</i><% end %></th></tr>
        <% end %>
      </table>
  </div>
</div>

<% if current_user.admin? %>
  <div id="modal_success" class="modal">
      <%= form_for [:admin, @called] do |f| %>
      <div class="modal-content">
        <h4>Вызов выполнен</h4>
        <%= f.label :infosuccess, "Вам есть что сказать о выполнение вызова ?" %>
        <%= f.text_area :infosuccess, class: 'materialize-textarea' %>
        <%= f.hidden_field :status, value: 'success' %>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Сохранить', class: "btn green"%>
      </div>
    <% end %>
  </div>

  <div id="modal_canceled" class="modal">
      <%= form_for [:admin, @called] do |f| %>
      <div class="modal-content">
        <h4>Вызов отменен</h4>
        <%= f.label :whycanceled, "Не хотите рассказать почему пришлось отменить вызов?"%>
        <%= f.text_area :whycanceled, class: "materialize-textarea" %>
        <%= f.hidden_field :status, value: 'canceled' %>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Сохранить', class: "btn red"%>
      </div>
    <% end %>
  </div>
<% end %>
