<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-hover orders">
               <thead>
                 <tr>
                   <th><%= sortable "id", "#" %></th>
                   <th><%= sortable "name", "Клиент" %></th>
                   <th><%= sortable "boiler", "Котел" %></th>
                   <th><%= sortable "adress", "Адрес" %></th>
                   <th><%= sortable "datebuyed", "Дата покупки"%><br>
                    <%= form_tag warranties_path, :method => 'get', id: 'form_datebuyed' do %>
                    <%= hidden_field_tag :direction, params[:direction] %>
                    <%= hidden_field_tag :sort, params[:sort] %>
                    <%= hidden_field_tag :search, params[:search] %>
                    <%= hidden_field_tag :created_at, params[:created_at] %>
                    <%= hidden_field_tag :datefirststart, params[:datefirststart] %>
                    <%= text_field_tag :datebuyed, params[:datebuyed], class: "form-control form-control-sm col-sm-8", placeholder: "Установить период", style: "font-size:11px;" %>
                    <% end %>
                  </th>
                   <th><%= sortable "started", "Первый пуск"%></th>
                   <th><%= sortable "whodidfirststart", "Кто запускал"%></th>
                   <th><%= sortable "datefirststart", "Дата пуска"%>
                    <%= form_tag warranties_path, :method => 'get', id: 'form_datefirststart' do %>
                    <%= hidden_field_tag :direction, params[:direction] %>
                    <%= hidden_field_tag :sort, params[:sort] %>
                    <%= hidden_field_tag :search, params[:search] %>
                    <%= hidden_field_tag :datebuyed, params[:datebuyed] %>
                    <%= hidden_field_tag :created_at, params[:created_at] %>
                    <%= text_field_tag :datefirststart, params[:datefirststart], class: "form-control form-control-sm col-sm-8", placeholder: "Установить период", style: "font-size:11px;" %>
                    <% end %>
                   </th>
                   <th><%= sortable "created_at", "Дата создание"%>
                    <%= form_tag warranties_path, :method => 'get', id: 'form_created_at' do %>
                    <%= hidden_field_tag :direction, params[:direction] %>
                    <%= hidden_field_tag :sort, params[:sort] %>
                    <%= hidden_field_tag :search, params[:search] %>
                    <%= hidden_field_tag :datebuyed, params[:datebuyed] %>
                    <%= hidden_field_tag :datefirststart, params[:datefirststart] %>
                    <%= text_field_tag :created_at, params[:created_at], class: "form-control form-control-sm col-sm-8", placeholder: "Установить период", style: "font-size:11px;" %>
                    <% end %>
                   </th>
                 </tr>
               </thead>
               <tbody>
               <% @warranties.each do |warranty| %>
               <tr>
                 <td><%= warranty.id %></td>
                 <td><%= link_to "#{warranty.name}", warranty_path(warranty) %></td>
                 <td><%= warranty.boiler %> <%= warranty.model %> </td>
                 <td><%= warranty.adress %></td>
                 <td><%= warranty.datebuyed.strftime("%d.%m.%Y") %></td>
                 <td><%= warranty.started ? 'Да' : 'Нет' %></td>
                 <td><%= warranty.whodidfirststart %></td>
                 <td><%= warranty.datefirststart ? warranty.datefirststart.strftime("%d.%m.%Y") : '' %></td>
                 <td><%= warranty.created_at.strftime("%d.%m.%Y") %></td>
               </tr>
              <% end %>
               </tbody>
              </table>
              <div class="container">
                <%= will_paginate @warranties, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>
              </div>
            </div>
        </div>

    </div>
</div>
