<tr onclick="document.location = '<%= warranty_path(warranty) %>';">
  <td><%= warranty.id %></td>
  <td><%= warranty.name %></td>
  <td><%= warranty.boiler %> <%= warranty.model %> </td>
  <td><%= warranty.adress %></td>
  <td><%= warranty.datebuyed.strftime("%d.%m.%Y") %></td>
  <td><%= warranty.started ? 'Да' : 'Нет' %></td>
  <td><%= warranty.whodidfirststart %></td>
  <td><%= warranty.datefirststart ? warranty.datefirststart.strftime("%d.%m.%Y") : '' %></td>
  <td><%= warranty.created_at.strftime("%d.%m.%Y") %></td>
</tr>
