<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-hover orders">
               <thead>
                 <tr>
                   <th><%= sortable "id", "#" %></th>
                   <th><%= sortable "name", "Клиент" %></th>
                   <th><%= sortable "boiler", "Котел"%></th>
                   <th><%= sortable "datebuyed", "Дата покупки"%></th>
                   <th><%= sortable "started", "Первый пуск"%></th>
                 </tr>
               </thead>
               <tbody>
               <% @warranties.each do |warranty| %>
               <tr>
                 <td><%= warranty.id %></td>
                 <td><%= link_to "#{warranty.name}", warranty_path(warranty) %></td>
                 <td><%= warranty.boiler %> <%= warranty.model %> </td>
                 <td><%= warranty.datebuyed.strftime("%d.%m.%Y") %></td>
                 <td><%= warranty.started ? 'Да' : 'Нет' %></td>
               </tr>
              <% end %>
               </tbody>
              </table>
              <div class="container">
                <%= will_paginate @warranties, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>
              </div>
            </div>
        </div>

    </div>
</div>
