<div class="row">
  <div class="col s4 left">
    <br>
    Общее количество гарантийных котлов: <%= Warranty.count %>
  </div>

  <div class="col s3 right center input-field">
    <%= button_tag 'Поиск', class: 'btn', id: 'call_search_button' %>
    <div class="card hidden tooltipped" id="call_search_form" data-position="bottom" data-tooltip="Поиск выполняется по всем критериям." >
      <div class="card-stacked">
        <div class="card-action">
          <%= form_tag calls_path, method: :get, id: "ws_search" do %>
            <%= text_field_tag :search, params[:search], placeholder: "Поиск" %>
            <%= submit_tag "Найти", class: "btn hidden", name: nil %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="warranties">
  <table class="warranties striped">
    <thead>
      <tr>
        <th><%= sortable "id", "#" %></th>
        <th><%= sortable "name", "Клиент" %></th>
        <th><%= sortable "boiler", "Котел" %></th>
        <th><%= sortable "adress", "Адрес" %></th>
        <th><%= sortable "datebuyed", "Дата покупки"%></th>
        <th><%= sortable "started", "Первый пуск"%></th>
        <th><%= sortable "whodidfirststart", "Кто запускал"%></th>
        <th><%= sortable "datefirststart", "Дата пуска"%></th>
        <th><%= sortable "created_at", "Дата создание"%></th>
      </tr>
    </thead>
    <tbody>
      <%= render @warranties %>
    </tbody>
  </table>
  <div class="container">
    <%= will_paginate @warranties, renderer: 'MaterializePaginationHelper::LinkRenderer' %>
  </div>
</div>
