<div class="container">
  <div class="row">
      <div class="col-sm-6">
      <h3>Добавить марку</h3>
      <% if @boiler.errors.any? %>
        <div id="error_explanation" class="alert alert-danger" role="alert">
          <strong>Ошибка</strong>
          <ul>
            <% @boiler.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_for [:admin, @boiler], html: {class: "form-group"}  do |f| %>

            <%= f.label :name, "Марка" %>
            <%= f.text_field :name, class: "form-control" %>

            <br /><%= f.submit "Добавить", class: "btn btn-primary" %>
      <% end %>
<% if @boilers.size > 0 %>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <% @boilers.each do |boiler| %>
          <div class="card">
            <div class="card-header" role="tab" id="heading<%= boiler.id %>">
              <h5 class="mb-0" style="text-align: center;">
                <a class="collapsed" data-toggle="collapse" style='text-decoration:none' data-parent="#accordion" href="#collapse<%= boiler.id %>" aria-expanded="false" aria-controls="collapse<%= boiler.id %>">
              <div id="boiler_title_<%= boiler.id %>">
                <span id="boiler_title_<%= boiler.id %>"><%= boiler.name %></span>(<span id="boiler_count_<%= boiler.id %>"><%= boiler.product_models.size %></span>)
              </div>
                </a>
                <%= form_for [:admin, boiler], html: {class: "form-inline", style: 'display: none'} do |f| %>
                      <%= f.text_field :name, class: "form-control mb-2 mr-sm-2 mb-sm-0" %>
                      <%= f.submit "Изменить", class: "btn btn-primary" %>
                <% end %>
                <div style="text-align: right">
                <%= link_to '', '', class: 'fa fa-pencil-square-o edit_boiler', style: 'text-decoration:none', data: { boiler_id: boiler.id } %>
                <%= link_to '', admin_boiler_path(boiler), method: :delete, class: "fa fa-trash", data: { confirm: "Вы уверены что хотите удалить котел #{boiler.name}?"}, style: 'text-decoration:none'%>
                </div>
              </h5>

            </div>
            <div id="collapse<%= boiler.id %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= boiler.id %>">
              <div class="card-block">
                <table class="table toble-responsive">
                  <tbody class=" table_boiler_<%= boiler.id %>">
                        <tr>
                          <td>
                            <div class="product_model-errors_<%= boiler.id %>"></div>
                            <%= form_for [:admin, @product_model], html: {class: "form-inline"}, remote: true  do |f| %>
                                  <%= f.label :name, "Модель", class: "sr-only" %>
                                  <%= f.text_field :name, class: "form-control mb-2 mr-sm-2 mb-sm-0", placeholder: "Название", id: "product_model_name_#{boiler.id}" %>
                                  <%= f.hidden_field :boiler_id, value: boiler.id %>
                                  <%= f.submit "Добавить", class: "btn btn-primary" %>
                            <% end %>
                          </td>
                        </tr>
                      <% boiler.product_models.each do |product_model| %>
                        <tr>
                          <td>
                            <div id="product_model_title_<%= product_model.id %>">
                              <%= product_model.name %>
                            </div>
                            <%= form_for [:admin, product_model], html: {class: "form-inline", style: 'display: none'}, remote: true do |f| %>
                                  <%= f.label :name, "Модель", class: "sr-only" %>
                                  <%= f.text_field :name, class: "form-control mb-2 mr-sm-2 mb-sm-0", placeholder: "Название" %>
                                  <%= f.hidden_field :boiler_id, value: product_model.boiler.id %>
                                  <%= f.submit "Изменить", class: "btn btn-primary" %>
                            <% end %>
                          </td>
                          <td><%= link_to '', '', class: 'fa fa-pencil-square-o edit_model', style: 'text-decoration:none;', data: { model_id: product_model.id } %></td>
                          <td><%= link_to '', admin_product_model_path(product_model), method: :delete, class: "fa fa-trash", data: { confirm: "Вы уверены что хотите удалить котел #{product_model.name}?"}, style: 'text-decoration:none;', remote: true %></td>
                        </tr>
                      <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <br>
      <div class="container">
        <%= will_paginate @boilers, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>
      </div>
<% end %>
  </div>
</div>
