<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Добавить марку</h3>
      <%= render 'form', resource: @boiler %>

      <% if @boilers.size > 0 %>
        <ul class="collapsible popout">
          <% @boilers.each do |boiler| %>
            <li>
              <div class="collapsible-header">
                <%= boiler.name %> (<span id="boiler_count_<%= boiler.id %>"><%= boiler.product_models.count %></span>)

                <%= link_to edit_admin_boiler_path(boiler) do %>
                  <i class="material-icons">edit</i>
                <% end %>
              </div>

              <div class="collapsible-body">
                <table>
                  <tbody id="table_body_boiler_<%= boiler.id %>">
                    <%= render boiler.product_models %>
                  </tbody>
                </table>
                <br>
                  <%= form_for [:admin, boiler, boiler.product_models.build], class: 'col s12', remote: true do |f| %>
                    <div class="row">
                      <div class="input-field input-group col s6">
                        <%= f.label :name, "Модель" %>
                        <%= f.text_field :name, id: "product_model_name_#{boiler.id}" %>
                        <span class="suffix">
                          <%= f.button "+", class: "btn btn-floating waves-effect waves-light red" %>
                        </span>
                      </div>
                    </div>
                  <% end %>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="container">
          <%= will_paginate @boilers, renderer: 'MaterializePaginationHelper::LinkRenderer' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
