<h3>Регистрация</h3>

<div class="row">
  <div class="col s5">
    <%= form_with model: [:admin, @user.becomes(User)], local: true do |f| %>
        <%= render 'shared/errors', resource: @user %>
        <div class="input-field">
            <i class="material-icons prefix">email</i>
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", id: 'user_email', class: 'validate' %>
        </div>

        <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <%= f.label :username %>
            <%= f.text_field :username, autocomplete: "username", id: 'user_username', class: 'validate' %>
        </div>

        <div class="input-field">
            <i class="material-icons prefix">vpn_key</i>
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", id: 'user_password', class: 'validate' %>
        </div>

        <div class="input-field">
            <i class="material-icons prefix">vpn_key</i>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", id: 'user_password_confirmation', class: 'validate' %>
        </div>

        <div class="input-field">
            <i class="material-icons prefix">bookmark</i>
            <%= f.select :type, [['Администратор', 'Admin'],['Обычный пользователь','User']] %>
            <%= f.label :type %>
        </div>

        <%= f.button "Зарегистрировать", class: 'waves-effect waves-light btn'  %>
    <% end %>
  </div>

</div>
