<% if user_signed_in? %>
  <nav>
    <div class="nav-wrapper">
      <%= link_to root_path, class: 'waves-effect waves-light btn green', style: 'margin-left: 10px;' do %>
        <i class="material-icons left">fingerprint</i>Steam
      <% end %>

      <ul class="right">
        <li><%= link_to 'Вызовы', calls_path %></li>
        <li><%= link_to 'Гарантийные', warranties_path %></li>
        <% if current_user.admin? %>
          <li><%= link_to 'Пользователи', admin_users_path  %></li>
        <% end %>
        <li><%= link_to edit_user_registration_path, class: "waves-effect waves-light btn" do %> <%= current_user.username %> <i class="material-icons right">account_circle</i><% end %></li>
        <li><%= link_to destroy_user_session_path, method: :delete, class: "waves-effect waves-light btn" do %>Выйти<i class="material-icons right">exit_to_app</i><% end %></li>
      </ul>
    </div>
  </nav>
<% end %>
