<!DOCTYPE html>
<html>
  <head>
    <title>EURODOM</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/signin.css" rel="stylesheet">
  </head>
  <body>
    <div class="container new_user">
      <%if @error && @error.length > 0 then %>
        <br><div class="alert alert-danger"><%=@error%></div>
      <% end %>
      <% if notice && notice.length > 0 then %>
        <br><p class="notice alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert && alert.length > 0 then %>
        <br><p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
